@import "tailwindcss";

$gray-50: #F9FAFB;
$gray-200: #E5E7EB;
$gray-500: #6B7280;
$gray-900: #111827;

body, input {
  color: $gray-900;
}

h2 { font-size: 2rem; }

header {
  color: #F9FBFD;
  background-color: #1F2937;
  margin-bottom: 100px;
}

table {
  th, td { padding: .25rem 1rem; }

  th {
    color: $gray-500;
  }
  tr {
    border-bottom: solid 1px $gray-200;
  }
}

form {
  align-content: flex-end;
}