<header class="py-3">
  <div class="container mx-auto px-40">
    <form class="flex" method="#" phx-submit="save">
      <div class="flex-1 w-272">
        <label class="block" for="rating_name"> Name</label>
        <input id="rating_name" class="p-2 rounded" type="text" name="rating[name]" />
      </div>
      <div class="flex-1">
        <label class="block" for="rating_quality">Quality (%)</label>
        <input id="rating_quality" class="p-2 rounded" type="text" name="rating[quality]" />
      </div>
      <div class="flex-1">
        <button class="bg-indigo-600 p-2 rounded" type="submit">Save</button>
      </div>
    </form>
  </div>
</header>
<article>
  <div class="container mx-auto px-40">
    <div class="grid grid-cols-2 gap-4">
      <table class="border shadow border-solid border-gray-50">
        <tr class="bg-gray-50 uppercase">
          <th>Name</th>
          <th>Quality</th>
        </tr>
        <%= for rating <- @ratings do %>
          <tr>
            <td><%= rating.name %></td>
            <td class=text-right"><%= rating.quality %>%</td>
          </tr>
        <% end %>
      </table>
      <div class="border shadow border-solid border-gray-50">
        <h2 class="p-1.5">Quality</h2>

        <canvas id="quality-chart" width=600 height=600></canvas>
      </div>
    </div>
  </div>
</article>
